* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.home-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    padding-top: 3rem;
    display: block;
}

.home-head-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1538px;
    position: relative;
    z-index: 1;
}

.home-head-logo {
    display: flex;
    -moz-box-pack: center;
    justify-content: start;
    width: 30%;
    background-color: black;
}

.logo-container {
    display: flex;
    width: 280px;
    max-width: 100%;
    height: 108px;
    touch-action: manipulation;
    align-content: center;
    align-items: center;
}

.logo-image {
    width: 100%;
    height: 255%;
    border-style: none;
    box-sizing: inherit;
}

.home-head-nav {
    display: flex;
    width: 70%; 
    background-color: black;   
}

.main-nav {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    justify-content: end;
    margin: auto 109px;
    width: 80%;
    font-size: 122%;
}

.nav-item {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff; 
    background-color: transparent;
    padding: 19px 30px;

}

/*ADDING THE MAIN PHOTO BEHIND THE PAGE */

.main-content{
    display: flex;
    position: relative;
    -moz-box-align: center;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
    background: #000;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.stage {
    object-position: top;
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;
    height: 100%;
    opacity: 1;
    width: 93%;
    object-fit: cover;
}

.about-container{
    position: relative;
    z-index: 10;
    pointer-events: none;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 1280px;
    display:flex;
    color: white;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}

.about-content {
    pointer-events: fill;
    position: relative;
    z-index: 9;
    padding-bottom: 1px;
    padding-left: 60px;
    width: 500px;
    max-width: 1280px;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    -webkit-filter: drop-shadow(6px 6px 6px #000);
    filter: drop-shadow(6px 6px 6px #000);
}

.homepage-lrg-text {
    font-size: 1.5rem;
    line-height: 0.5rem;
    font-weight: 500;
}

.stage-text {
    font-size: .95rem;
    line-height: 1.3rem;
    margin: 0 0 16px 20px;
    width: 310px;
    pointer-events: fill;
}

.stage-button {
    font-size: 0.9rem;
    border-color: red;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: hsla(0,0%,100%,0);
    background-repeat: no-repeat;
    background-position: calc(100% + 2px) -2px;
    background-size: 32px 32px;
    padding: 7px 14px 7px 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-style: solid;
}